# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DU11-TRAINNING\work_space\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
